cache

*.log

imaging-paper.pdf

*.synctex.gz

imaging-supplement.pdf
.Rproj.user
*.Rproj

*.brf

*.blg

*.toc

Figure

*.aux

images/Cary Persistence
images/Hamby (2009) Barrel

imaging-paper-abstract-concordance.tex

imaging-paper-abstract.log

imaging-paper-abstract.pdf

imaging-paper-abstract.synctex.gz

imaging-paper-abstract.tex

imaging-paper-blinded-concordance.tex

imaging-paper-blinded.bbl

imaging-paper-blinded.log

imaging-paper-blinded.pdf

imaging-paper-blinded.synctex.gz

imaging-paper-blinded.tex

imaging-paper.spl

*.RData

imaging-supplement-concordance.tex

imaging-paper-concordance.tex

app/degraded_images/*

imaging-paper.bbl

code/filtering.nb.html
